@import url("tailwindcss/base");

@import url("tailwindcss/components");

@import url("tailwindcss/utilities");

/* HEADER */
.header__logo {
  max-width: 160px;
}


/* MENU MOBILE */

.header {
  position: relative;
  border-bottom: 1px solid rgb(42, 49, 114);
}

.menu__btn-mobile {
  position: relative;
  width: auto;
  height: auto;

  padding: 3px;
  width: 25px;
  height: 50px;
  cursor: pointer;
}

.hamburger {
  width: 25px;
  height: 3px;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  /* left: 50%; */
  /* margin-left: -25px; */
  transition: transform 200ms;
}


.hamburger-1 {
  transform: translate3d(0, -8px, 0);
}
.hamburger-2 {
  transform: translate3d(0, 0, 0);
}
.hamburger-3 {
  transform: translate3d(0, 8px, 0);
}

.menu__btn-mobile.active .hamburger-1 {
  transform: translate3d(0, 0, 0) rotate(45deg);
}
.menu__btn-mobile.active .hamburger-2 {
  transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.menu__btn-mobile.active .hamburger-3 {
  transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu__items {
  display: none;
}

.menu__btn-mobile.active ~ .menu__items {
  display: block;
  width: 100vw;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgb(129 140 248);
  border-top: 2px solid rgb(115, 122, 192);
  text-align: center;

  z-index: 10;
}



.menu__link {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  transition: all .5s ease;
}

.menu__link:hover,
.menu__link:active {
  background-color: rgb(175, 183, 255);
}

.menu__link.active {
  background-color: #fff;
  font-weight: bold;
  color: #312E81;
}

/* SECTION FILTER */
.filter__search {
  position: relative;
  display: flex;
  align-items: center;
}
.filter__search i {
  color: rgb(49 46 129);
  position: absolute;
  left: 15px;
}

/* CARD POKEMON */


.card__image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 8px;
  min-height: 340px;
  position: relative;
}


.effect__image {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 8px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 0;
}

.card__image .effect__image img {
  opacity: 0.2;
  width: 80%;
  max-height: unset;
  max-width: unset;
}

.card__image img {
  max-height: 300px;
  max-width: 200px;
  z-index: 10;
}

.card__details {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  background-color: #E0E7FF;
  border-radius: 8px;
  padding: 8px;
}

.card__info {
  display: flex;
  flex-direction: column;
  color: #312E81;
}

.card__info .card__number {
  font-weight: 500;
  font-size: 16px;
  padding: 8px;
}

.card__info .card__name {
  font-size: 20px;
  font-weight: bolder;
  text-transform: uppercase;
  padding: 4px;
}

.card__types {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.card__types img {
  max-width: 16px;
}

.card__types .type {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 8px;
  border-radius: 24px;
  color: #fff;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
}

/* COLOR TYPES */
.bug {
  background-color: #A7B723;
}

.dark {
  background-color: #75574C;
}

.dragon {
  background-color: #7037FF; 
}

.electric {
  background-color: #F9CF30;
}

.fairy {
  background-color: #E69EAC;
}

.fighting {
  background-color: #C12239;
}

.fire {
  background-color: #F57D31;
}

.flying {
  background-color: #A891EC;
}

.ghost {
  background-color: #70559B;
}

.normal {
  background-color: #AAA67F;
}

.grass {
  background-color: #74CB48;
}

.ground {
  background-color: #DEC16B;
}

.ice {
  background-color: #9AD6DF;
}

.poison {
  background-color: #A43E9E;
}

.psychic {
  background-color: #FB5584;
}

.rock {
  background-color: #B69E31;
}

.steel {
  background-color: #B7B9D0;
}

.water {
  background-color: #6493EB;
}

/* MODAL */
#fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

#modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  max-width: 90%;
  background-color: rgb(224 231 255);
  color: rgb(49 46 129);
  padding: 1.2rem;
  border-radius: 0.5rem;
  z-index: 10;
}

#fade,
#modal {
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(49 46 129);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.modal-header h2 {
  font-size: 24px;
  font-weight: bold;
}

.modal-header button i {
  font-size: 32px;
  color: red;
}

.modal-body {
  display: flex;
  justify-content: space-between;
}

.modal-body p {
  margin-bottom: 1rem;
}

#modal.hide,
#fade.hide {
  opacity: 0;
  pointer-events: none;
}

#modal.hide {
  top: 0;
}


@media (min-width: 768px) {
  .menu__items {
    display: flex;
    gap: 24px;
  }

  .menu__link {
    border: 0;
    padding: 8px;
    border-radius: 4px;
    border: 2px solid transparent;
  }

  .menu__link.active {
    border-color: #312E81;
  }
}